{% if site.google_scholar_stats_enabled %}
<script>
  $(document).ready(function () {
    {% if site.google_scholar_stats_use_cdn %}
    var gsDataBaseUrl = 'https://cdn.jsdelivr.net/gh/{{ site.repository }}@';
    {% else %}
    var gsDataBaseUrl = 'https://raw.githubusercontent.com/{{ site.repository }}/';
    {% endif %}

    $.getJSON(gsDataBaseUrl + "google-scholar-stats/gs_data.json", function (data) {
      var totalCitation = data && data['citedby'];
      var totalCitationElement = document.getElementById('total_cit');
      if (totalCitationElement && totalCitation !== undefined) {
        totalCitationElement.innerHTML = totalCitation;
      }

      var publications = data && data['publications'];
      var citationElements = document.getElementsByClassName('show_paper_citations');
      Array.prototype.forEach.call(citationElements, function (element) {
        var paperId = element.getAttribute('data');
        if (publications && publications[paperId] && publications[paperId]['num_citations'] !== undefined) {
          element.innerHTML = '| Citations: ' + publications[paperId]['num_citations'];
        }
      });
    });
  });
</script>
{% endif %}
